<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<meta charset="UTF-8"></meta>
<title>WorshipList</title>
</head>
<body>

	<!-- コンテンツ部分 -->
	<div th:fragment="worshipList_contents">
		<div class="page-header">
			<h1>お参り一覧</h1>
		</div>
		
		<form action="/schedule" method="get" th:object="${supporterForm}">
			<input type="search" name="supporterName" 
			th:value="*{supporterName}" placeholder="檀徒氏名を入力して下さい">  
			<button type="submit">検索</button>			
		</form>
		<br>
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th class="info col-sm-2" th:text="#{supporterName}">檀徒氏名</th>
				<th class="info col-sm-2" th:text="#{worship}">お参り</th>
				<th class="info col-sm-2" th:text="#{schedule}">日時</th>
				<th class="info col-sm-2" th:text="#{remark}">備考</th>
				<th class="info col-sm-2" th:text="#{done}">完了チェック</th>
				
			</tr>
			<tr th:each="worship : ${worshipList}" th:object="${worship}">
				<td th:text="*{supporterName}"></td>
				<td th:text="*{worshipOpts.label}"></td>
				<td th:text="*{schedule}"></td>
				<td th:text="*{remark}"></td>
				<td>
					<button class="btn btn-warning"
						th:style="'display:' + (${worship.progress} ? 'none' : '')"
						th:onclick="|complete(this, '*{worshipId}',true)|"
						th:text="#{incomplete}">未完了</button>		
					<button class="btn btn-secondary"
						th:style="'display:' + (${worship.progress} ? '' : 'none')"
						th:onclick="|complete(this, '*{worshipId}',false)|"
						th:text="#{complete}">完了</button>
				</td>
			</tr>
		</table>
  		<script type="text/javascript">
			   	  var complete = function(element, worshipId, doComplete) {
			      const token = document.querySelector("meta[name='_csrf']").attributes['content'].value;
			      const header = document.querySelector("meta[name='_csrf_header']").attributes['content'].value; 
				　const bgColor = document.getElementById(worshipId);
			      let url =  doComplete ? "/incomplete" : "/complete";
			      fetch(url, {
			        method: 'POST',
			        headers: {
			          "Content-Type": 'application/x-www-form-urlencoded',
			          [header]: token 
			        },  
			        body: `worshipId=${worshipId}`
			      }).then(
			    		  response => {
			    	            if (doComplete) {
			    	            	element.style.display = 'none';
			    	                element.nextElementSibling.style.display = '';
			    	            } else {
			    	            	element.style.display = 'none';
			    	            	element.previousElementSibling.style.display = '';
			    	            }
			    	          }
			      );
			    }
  		</script>

	</div>
</body>
</html>