<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
<title>WorshipList</title>
</head>
<body>
	<!-- コンテンツ部分 -->
	<div th:fragment="worshipList_contents">
		<div class="page-header">
			<h1>お参り一覧</h1>
		</div>
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th class="info col-sm-2" th:text="#{supporterName}">檀徒氏名</th>
				<th class="info col-sm-2" th:text="#{worship}">お参り</th>
				<th class="info col-sm-2" th:text="#{schedule}">日時</th>
				<th class="info col-sm-2" th:text="#{remark}">備考</th>
			</tr>
			<tr th:each="worship : ${worshipList}">
				<td th:text="${worship.supporterName}"></td>
				<td th:text="${worship.worshipType}"></td>
				<td th:text="${worship.schedule}"></td>
				<td th:text="${worship.remark}"></td>
			</tr>
		</table>
	</div>
</body>
</html>